<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radley:ital@0;1&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

        *  {
            margin:0;
            padding:0;
        }

        body {
            font-family: "Ubuntu", sans-serif;
            font-size:17px;
        }

        #form__div {
            width:100%;
            height:100vh;
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:column;
        }

        #form__div > form {
            width:30%;
            display:flex;
            flex-direction:column;
        }

        #form__div > form > input, select {
            padding:8px;
            margin:8px;
            font-size:17px;
            outline:none;
        }

        #form__div > form > button {
            width:150px;
            font-size:15px;
            padding:8px;
            margin:8px;
            align-self:center;
        }

        #form__div > h1 {
            border-bottom:1px solid black;
            padding-bottom:6px;
            margin-bottom:16px;
            margin-left:10px;
            margin-right:10px;
            text-align:center;
        }

        #form__div > span {
            margin-top:16px;
            font-size:17px;
            margin-left:10px;
            margin-right:10px;
            text-align:center;
        }

        #form__div > span > a {
            text-decoration:none;
            color:blue;
        }

        @media screen and (max-width: 1130px) {
            #form__div > form {
            width:50%;
            display:flex;
            flex-direction:column;
        }
        }

        @media screen and (max-width: 600px) {
            #form__div > form {
            width:80%;
            display:flex;
            flex-direction:column;
        }
        }
    </style>
    <title>Create new account</title>
</head>
<body>
    <div id="form__div">
        <h1>Create new account</h1>
        <form method="post" action="/user/create" enctype="multipart/form-data">
            <label for="username">username</label>
            <input type="text" placeholder="username" id="username" name="username"/>
            <label for="password">password</label>
            <input type="text" placeholder="password" id="password" name="password"/>
            <label for="picture">user picture</label>
            <input type="file" name="picture" id="picture"/>
            <label for="roles">user roles</label>
            <select name="roles">
                <option value="author">author</option>
                <option disabled value="admin">admin</option>
            </select>
            <button type="submit">create user</button>
        </form>
        <span>Already have an account ? <a href="/user/login">Log in</a></span>
    </div>
</body>
</html>